<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lab2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.rm2pt.lab2.metamodel.lab2.presentation.Lab2ModelWizardID"
            name="%_UI_Lab2ModelWizard_label"
            class="org.rm2pt.lab2.metamodel.lab2.presentation.Lab2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Lab2ModelFile.gif">
         <description>%_UI_Lab2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lab2 -->
      <editor
            id="org.rm2pt.lab2.metamodel.lab2.presentation.Lab2EditorID"
            name="%_UI_Lab2Editor_label"
            icon="icons/full/obj16/Lab2ModelFile.gif"
            extensions="lab2"
            class="org.rm2pt.lab2.metamodel.lab2.presentation.Lab2Editor"
            contributorClass="org.rm2pt.lab2.metamodel.lab2.presentation.Lab2ActionBarContributor">
      </editor>
   </extension>

</plugin>
